<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>캣푸드 DB 프로젝트</title>


    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript">

        $(document).ready(function () {
            $('#cards').html('');
            showList();
        });

        function showList() {
            $.ajax({
                type: "GET",
                url: "/catfood",
                data: {},
                success: function (response) {
                    let dbList = response["catFoods"];
                    for (let i = 0; i < dbList.length; i++) {
                        console.log(dbList[i])
                        makeCard(dbList[i]["image"], dbList[i]["name"], dbList[i]["protein"], dbList[i]["fat"], dbList[i]["carb"])
                    }
                }
            })
        }

        function makeCard(image, name, protein, fat, carb) {
            let temp_card =
                `<div id="card">
<div class="row">
<div class="col-xs-6 col-sm-3">
                <img class="card-img-top" src="http://catfooddb.com${image}" alt="Card image cap">
                <p class="card-body">
                    <p class="card-text">${name}</p>
                    <p class="card-text">단백질: ${Math.round(protein)}</p>
                    <p class="card-text">지방: ${Math.round(fat)}</p>
                    <p class="card-text">탄수화물: ${Math.round(carb)}</p>
                </p>
</div>
</div>
</div>`;
            $('#card').append(temp_card);
        }


        function carbList() {
            $.ajax({
                type: "GET",
                url: "/catfood",
                data: {},
                success: function (response) {
                    let dbList = response["catFoods"];
                    for (let i = 0; i < dbList.length; i++) {
                        if ("carb" <= 40) {
                            console.log(dbList[i])
                            makeCard_alt(dbList[i]["image"], dbList[i]["name"], dbList[i]["protein"], dbList[i]["fat"], dbList[i]["carb"])
                        }
                    }
                }
            })
        }

        function makeCard_alt(image, name, protein, fat, carb) {
            let temp_card2 =
                `<div id="card">
<div class="row">
<div class="col-xs-6 col-sm-3">
                <img class="card-img-top" src="http://catfooddb.com${image}" alt="Card image cap">
                <p class="card-body">
                    <p class="card-text">${name}</p>
                    <p class="card-text">단백질: ${Math.round(protein)}</p>
                    <p class="card-text">지방: ${Math.round(fat)}</p>
                    <p class="card-text">탄수화물: ${Math.round(carb)}</p>
                </p>
</div>
</div>
</div>`;
            $('#card').append(temp_card2);
        }


        $(document).ready(function () {
            $("#customCheck1").change(function () {
                if ($("#customCheck1").is(":checked")) {
                    $('#card').empty();
                    carbList();
                } else {
                    showList();
                }
            });
        });


    </script>

    <style type="text/css">
        * {
            font-family: "Do Hyeon", sans-serif;
        }

        h1 {
            display: inline;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @media (min-width: 34em) {
            #card {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }

        #card {
            border-style: solid;
            border-color: paleturquoise;
            background-color: lightcyan;
        }

        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100px;
            height: 20px;
        }

        .container {
            background-color: aliceblue;
        }

    </style>
</head>

<body>
<div class="container">
    <img src="..."
         class="img-fluid" alt="Responsive image">
    <div class="info">
        <h1>사이트 제목</h1>
        <p>설명을 넣을거예요</p>

    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">그레인프리</label>
    </div>


    <div id="card">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <img class="card-img-top" src="" alt="">
                <p class="card-body">
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>